<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <!-- <div class="card" style="background-color: #DDDDDD;" > April 2020 to till date -->
        <ul class="timeline">
          <li class="time-label">
            <span class="badge c1 bg-purple-gradient">
              Dec 2020 - to day
            </span>
          </li>
          <li>
            <i class="fa fa-building bg-maroon-gradient text-white"></i>
            <div class="timeline-item">
              <span class="time text-bold"> Full Time</span>
              <h3 class="timeline-header"><a>Intern - VnResource Co., Ltd</a></h3>
              <div class="timeline-body c2">
                <ul>
                  <li>
                    Software Engineer (SE): Research on angular 10 framework technology, Ant Design, Microservices                    
                  </li>
                  <li>Analyze and build widgets on the Dashboard screen</li>
                  <li>Integrating web apps with API</li>
                </ul>
              </div>
              <div class="timeline-footer">
                <p>
                  <span class="badge label-warning">HTML 5</span>
                  <span class="badge label-success">CSS 3</span>
                  <!-- <span class="badge label-warning">ant design</span> -->
                  <span class="badge label-primary">Type Script</span>
                  <!-- <span class="badge label-danger">MongoDB</span> -->
                  <span class="badge label-info">Angular 10</span>
                  <span class="badge label-primary">Bootstrap</span>
                  <!-- <span class="pull-right"> -->
                  <!-- <a class="btn btn-primary btn-xs" ui-sref="app.recent">View Recent projects</a> -->
                  <!-- </span> -->
                </p>
              </div>
            </div>
          </li>
          <!-- 1 time line -->
          <li class="time-label">
            <span class="badge c1 bg-red-gradient">
              Feb 2020 - Nov 2020
            </span>
          </li>
          <li>
            <i class="fa fa-suitcase bg-blue-gradient text-white"></i>
            <div class="timeline-item">
              <span class="time text-bold"> Part Time</span>
              <h3 class="timeline-header"><a>Developer - Graduation stuff</a></h3>
              <div class="timeline-body c2">
                <ul>
                  <li>
                    Topic Name: Research on Spring boot framework technology, Microservices and
                    build Web Logistics application for import and export by air
                  </li>
                  <!-- <li>Developing E-Comm sites</li>
                                        <li>Integrating web apps with API</li> -->
                </ul>
              </div>
              <div class="timeline-footer">
                <p>
                  <span class="badge label-danger">HTML 5</span>
                  <span class="badge label-success">CSS 3</span>
                  <span class="badge label-warning">Java</span>
                  <span class="badge label-primary">Type Script</span>
                  <span class="badge label-danger">MongoDB</span>
                  <span class="badge label-info">Angular 2+</span>
                  <span class="badge label-primary">Bootstrap</span>
                  <!-- <span class="pull-right"> -->
                  <!-- <a class="btn btn-primary btn-xs" ui-sref="app.recent">View Recent projects</a> -->
                  <!-- </span> -->
                </p>
              </div>
            </div>
          </li>
          <li class="time-label">
            <span class="badge c1 bg-green-gradient">
              May 2020 - Aug 2020
            </span>
          </li>
          <li>
            <i class="fa fa-pencil-square-o bg-yellow-gradient text-white"></i>
            <div class="timeline-item">
              <span class="time text-bold"> Full Time</span>
              <h3 class="timeline-header">
                <a>Intern - Open Freight One Technology Corporation (OFONE)</a>
              </h3>
              <div class="timeline-body c2">
                <ul>
                  <li>BA: Writing Design Analysis Documentation</li>
                  <li>
                    Build Web app using Angular technology, Spring boot framework, microservices
                    architecture foundation
                  </li>
                  <!-- <li>Hosting and Domain Management</li>
                                        <li>Did UI Designs and Mockups as a Freelancer</li> -->
                </ul>
              </div>
              <div class="timeline-footer">
                <p>
                  <span class="badge label-info">HTML</span>
                  <span class="badge label-warning">CSS</span>
                  <span class="badge label-success">Bootstrap</span>
                  <span class="badge label-warning">Java</span>
                  <span class="badge label-primary">Type Script</span>
                  <span class="badge label-info">Angular 2+</span>
                  <!-- <span class="pull-right">
                                            <a class="btn btn-google btn-xs" ui-sref="app.websites">View Websites</a>
                                            <a class="btn btn-facebook btn-xs" ui-sref="app.portfolio">View Portfolio</a>
                                        </span> -->
                </p>
              </div>
            </div>
          </li>
          <li>
            <i class="fa fa-clock-o bg-gray"></i>
          </li>
        </ul>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
