<div class="main-content">
  <div class="container-fluid">
    
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <div class="card box box-success" >
          <app-homepage></app-homepage>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title font">Additional Skill</h3>
            </div><!-- /.box-header -->
            <div class="box-body" style="font-size:18px;">
                <strong><span class="badge c1 label-success">Communication Skill</span></strong>
                <p class="text-muted pull-right">
                  <span><i class="material-icons text-warning">star</i></span>
                  <span><i class="material-icons text-warning">star</i></span>
                  <span><i class="material-icons text-warning">star</i></span>
                  <span><i class="material-icons text-warning">star_half</i></span>
                  <span><i class="material-icons text-warning">star_outline</i></span>                    
                </p>
                <hr>
                <strong><span class="badge c1 label-warning">English</span></strong>
                <p class="text-muted pull-right">
                  <span><i class="material-icons text-info">star</i></span>
                  <span><i class="material-icons text-info">star</i></span>
                  <span><i class="material-icons text-info">star_half</i></span>
                  <span><i class="material-icons text-info">star_outline</i></span>
                  <span><i class="material-icons text-info">star_outline</i></span>                   
                </p>
                <hr>
                <strong><span class="badge c1 label-primary">Creative</span></strong>
                <p class="text-muted pull-right">
                  <span><i class="material-icons text-red">star</i></span>
                  <span><i class="material-icons text-red">star</i></span>
                  <span><i class="material-icons text-red">star</i></span>
                  <span><i class="material-icons text-red">star</i></span>
                  <span><i class="material-icons text-red">star_outline</i></span>                   
                </p>
                <hr>              
                
        </div><!-- /.box -->
      </div>     
    </div>
  </div>
</div>