.float-right {
    float: right;
}
.float-left {
    float: left;
}
.font{
    font-family: "Brush Script MT", sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    /* margin: auto; */
}
.pe-7s-download {
    font-size: 25px;
    display: none;
    color: rgb(255 255 255);
    display: inline-block;
	font-family: 'Pe-icon-7-stroke';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.btn {
    font-size: 11px;
    font-weight: 500;
    color: rgb(255 255 255);
    letter-spacing: 1.5px;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
    height: 37px;
    background: rgb(20 20 20);
    outline: none;
    border: none;
    border-radius: 2px;
    padding: 7px 20px;
    -moz-transition: all 0.9s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -o-transition: all 0.9s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -webkit-transition: all 0.9s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    transition: all 0.9s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
a {
    color: rgb(20 20 20);
    text-decoration: none;
}
.btn .btn-label {
    padding: 4px 0;
}
.btn-default {
    color: rgb(51 51 51);
    background-color: rgb(255 255 255);
    border-color: rgb(204 204 204);
}
.btn span {
    position: relative;
    z-index: 2;
    display: inline-block;
}
.btn .mask {
    background: rgb(233 30 99);
        background-image: initial;
        background-position-x: initial;
        background-position-y: initial;
        background-size: initial;
        background-repeat-x: initial;
        background-repeat-y: initial;
        background-attachment: initial;
        background-origin: initial;
        background-clip: initial;
        background-color: rgb(233, 30, 99);
    border-radius: 2px;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 1;
    -moz-transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -o-transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -webkit-transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}