<div class="wizard-container">
  <div class="card card-wizard" data-color="green" id="wizardProfile">
    <div class="card-header text-center">
      <h3 class="card-title">
        Get in Touch
      </h3>
      <h5 class="card-description">Feel free to contact me</h5>
    </div>
    <div class="wizard-navigation">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" href="#address" data-toggle="tab" role="tab">
            Address
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#email" data-toggle="tab" role="tab">
            Email
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#phone" data-toggle="tab" role="tab">
            Phone
          </a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="tab-content">
        <div class="tab-pane active" id="address">
          <div class="row justify-content-center" >
            <div class="col-sm-12">
              <div class="picture-container">
                <div class="picture">
                  <img src="./assets/img/address.png" class="picture-src" id="wizardPicturePreview" title="" />       
                </div>
              </div>
              <h5>
                <!-- <p class="mb-0"><strong>Address: </strong></p> -->
                <p class="mb-1"><span>Ward 17, Nguyen Van Luong, Go Vap, Ho Chi Minh City, Vietnam</span></p>								
							</h5>              
            </div>          
          </div>
        </div>
        <div class="tab-pane" id="email">
          <div class="row justify-content-center" >
            <div class="col-sm-12">
              <div class="picture-container">
                <div class="picture">
                  <img src="./assets/img/kissclipart-email.png" class="picture-src" id="wizardPicturePreview" title="" />       
                </div>              
              </div>              
              <p class="mb-0">
                <strong>Skype:</strong>
              </p>
               <!-- ranjithprabhu.k@gmail.com</a> -->
              <p class="pb-2"><a href="mailto:anonymousmagus@outlook.com">anonymousmagus@outlook.com</a></p>
              <p class="mb-0">
                <strong>Email:</strong>
              </p>
              <p class="pb-2"><a href="mailto:nguyenlexuanphuoc.210495@gmail.com">nguyenlexuanphuoc.210495@gmail.com</a></p>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="phone">
          <div class="row justify-content-center" >
            <div class="col-sm-12">
              <div class="picture-container">
                <div class="picture">
                  <img src="./assets/img/phonenumber.png" class="picture-src" id="wizardPicturePreview" title="" />       
                </div>
              </div>              
            </div> 
            <h5 class="mb-1"><strong>+84 0585889244</strong></h5>           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>            