<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3">
        <img
          class="candidate-img-drawer mt-25 mb-20 img-center"
          src="./assets/img/faces/avatar-1.jpg"
        />
      </div>
      <div class="col-md-9">
        <!-- <div
          style="padding: 2px;
            display: flex;
            justify-content: space-between;
            align-items: center;"
        >
          <h3>Phuoc Nguyen</h3>
          <h4>Available On Freelancer</h4>
          <h4>$8.00/hr</h4>
        </div> -->
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6"></div>
    </div>
  </div>
</div>
