<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>                    
                    Design by                   
                </li>
                <li>
                    <a href="#">
                        Phuoc Nguyen
                    </a>
                </li>              
            </ul>
        </nav>
        <div class="copyright pull-right">
            Copyright
            &copy;
            2020. All rights reserved            
        </div>
    </div>
</footer>
